@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply scroll-smooth bg-[#d3f1f3];
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }
  h2 {
    @apply text-3xl sm:text-4xl;
  }
  li {
    @apply cursor-pointer;
  }
}

@layer components {
  .gradient-bg {
    @apply w-full bg-gradient-to-r from-[#60ADE8] to-[#525DCA];
  }
}
